// Import Variable and mixins
@use 'variables';
@use 'mixins';

// Font - Family
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

// Mobile View
*{
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    font-family: variables.$primary-font;
    background-color: variables.$main-bg;
}

main {
    display: grid;
    @include mixins.grid-layout(302px 241px, 327px);
    place-content: center;
}
main{ 
    padding: 62px 0 0 0 ;
}

.container{
    display: grid;
    justify-content: center;
    
}
.container{
    background-color: variables.$card-bg;
    @include mixins.height-width(543px, auto);
    padding: 24px;
    border-radius: 15px;
}

.image-container img {
    @include mixins.height-width(278px, 278px);
    border-radius: 8px;
}
.container{
    h1{
        @include mixins.font-weight-size(600, 1.375rem);
        color: variables.$white;
        padding: 24px 0 12px 0;
    }
    p{
        @include mixins.font-weight-size(300, 1.125rem);
        color: variables.$soft-blue;
        padding-bottom: 16px;
    }
    .price-date{
        display: flex;
        justify-content: space-between;
        .price{
            display: flex;
            p{
                @include mixins.font-weight-size(400, 0.938rem);
                color: variables.$cyan;
            }
            img{
                @include mixins.height-width(18px, 11px);
                padding-right: 6.48px;
            }
        }
        .date{
            display: flex;
            p{
                @include mixins.font-weight-size(400, 0.938rem);
                color: variables.$soft-blue;
            }
            img{
                @include mixins.height-width(16px,16px);
                padding-right: 7.7px;
            }
        }
    }
    .horizontal-line{
       border: solid 1px variables.$line;
       @include mixins.height-width(0px, auto);
       margin: 0 0 16px 0;
    }
    .profile{
        display: flex;
        img{
            border: 1px solid variables.$white;
            border-radius: 25px;
            @include mixins.height-width(31px,31px);
        }
        p{
            padding: 5px 0 0 16px;
            span{
                color: variables.$white;
            }
        }
    }
    /* Overlay Image */
    .image-container {
        position: relative;
        display: inline-block;
    }
    
    .overlay-image {
        display: none;
    }
}

@media screen and (min-width : 1000px) {
    body{
        display: grid;
        place-items: center;
    }
    main{
        @include mixins.grid-layout(326px 270px, 350px);

    }
    main{
        padding: 0;
    }
    .container{
        padding: 24px 24px 32px 24px;
    }
    .image-container img{
        @include mixins.height-width(302px,302px);
        
    } 
    .container{
        h1{
            padding-bottom: 16px;
        }
        h1:hover{
            color: variables.$cyan;
        }
        p{
            padding-bottom: 24px;
        }
        .overlay-image {
            display: block;
            position: absolute;
            top: 49%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            width: 302px;
            height: 302px;
            background-image: url('../images/icon-view.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-color: rgba(0, 255, 248, 0.5);
            border-radius: 8px;
            transition: opacity 0.3s ease;
        }
          
        .image-container:hover{
        .overlay-image {
                opacity: 1;
            }
        }
        .profile{
            p{
                span:hover{
                    color: variables.$cyan;
                }
            }
        }
          
    }
}